venv/
/home/sean/MSc/data/
data/
wandb/
__pycache__/
*.pth
*.png
.venv/
*.venv
results/
checkpoints/
code/
mbod-data-processor/
plots/
3D_plots/
*.html
*.DS_Store
*.txt
*.csv
*.h5
datasets/
medvae/
.claude/
*.md
/home/sean/MSc_2025/classification/
CheSS/
